* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    outline: none;
    border: none;
    line-height: 1.6;
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.navigation {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(227, 226, 226);
    padding: 20px;
    align-items: center;
}

.logo {
    color: grey;
    letter-spacing: 3px;
    border: 1px solid black;
    padding: 2px;
}

.force-span {
    font-style: italic;
    background-color: rgb(26, 23, 23);
    font-size: 18px;
    font-weight: 600px;
    color: white;
    padding: 2px;
    position: relative;
    left: 5px;
}

.nav-right {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.link {
    text-transform: capitalize;
    color: black;
    border-bottom: 1px solid white;
}

.link:hover {
    border-bottom: 2px solid rgb(0, 0, 0);
    transition: 0.3 ease-in;
}